@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background-color: #292929;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Footer and Copyright Section ----------------------------------------------------- */

.footer {
  background-color: #151515;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  position: relative;
  right: 0;
  left: 0;
  margin-top: 50px;
  bottom: 0;
  z-index: -1;
}

.footer ul {
  list-style: none;
}

.footer-row {
  max-width: 700px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  padding: 40px;
}

.footer-col {
  width: 90%;
  text-align: center;
}

.footer-col ul h4 {
  text-transform: capitalize;
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-weight: 1200;
}

.footer-col ul li {
  margin: 3px 0;
}

.footer-col ul li a {
  font-size: 17px;
  color: #fff;
  text-decoration: none;
  font-weight: 100;
  line-height: 1.7;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #42a4ff;
  padding-left: 5px;
}

.footer-copyright {
  padding: 0 0 20px 0;
  text-align: center;
  color: #fff;
  font-size: 12px;
  margin: 0 2% 0 2%;
}

/* Navbar ------------------------------------------------------------------------------------- */

.navbar {
  background-color: #151515;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 15px 0;
}

.navbar-button-middle {
  display: inline-block;
  margin: 0 2.5% 0 0;
}

.navbar-button-middle a {
  color: #fff;
  text-decoration: none;
  padding: 1px;
  margin: 0 0 0 15px;
  transition: all 0.3s ease;
  font-size: 20px;
}

.navbar-button-middle a:hover {
  color: #27bed9;
}

.navbar-button-home a {
  margin: 0 0 0 15px;
  text-decoration: none;
  padding: 3px 5px;
  color: #fff;
  background-color: #008da6;
  border-radius: 2px;
  transition: all 0.3s ease;
  font-size: 22px;
  margin-right: 0;
}

.navbar-button-home a:hover {
  background-color: #fff;
  color: #1c1c1c;
}

.navbar-mobile-button {
  display: none;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 25px;
  margin: 0 2.5% 0 2.5%;
}

/* Home --------------------------------------------------------------------------------------------------- */
.home-background-image {
  background-image: linear-gradient(rgba(41, 25, 54, 0.6),rgba(41, 25, 54, 0.6)),url(images/background.jpg);
  width: 100%;
  margin: 55px 0 0 0;
  min-height: 90vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home-background-image h1 {
  text-align: center;
  font-size: 70px;
  color: #fff;
}

.home-intro-container {
  display: flex; 
  align-items: flex-start;
  color: #fff;
  justify-content: space-around;
  margin: 20px 15px;
}

.home-intro-text {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  margin: 0 7px 10px 0;
  padding: 5px;
  max-width: 75%;
}

.home-data-home {
  margin: 0 0 12px 0;
}

.home-data-home h1 {
  font-size: 30px;
  font-weight: 750;
}

.home-data-home p {
  font-size: 22px;
}

.home-intro-sidebar {
  background-color: #1289c9;
  min-width: 145px;
  min-height: 500px;
  margin: 0 0 0 7px;
  padding: 5px 15px;
  border-radius: 15px;
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2), 0 12px 40px 0 rgba(0,0,0,0.19);
}

.home-about-us {
  background-image: linear-gradient(rgba(25, 28, 38, 0.7),rgba(25, 28, 38, 0.7)),url(images/man-smiling.jpg);
  max-width: 90%;
  margin: 10px auto;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 90px;
  border-radius: 15px;
  color: #fff;
}

.home-about-us h1 {
  font-size: 30px;
  margin: 15px 0;
}

.home-about-us a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  border-radius: 5px;
  padding: 3px 12px;
  outline: solid 2px #fff;
  transition: all 0.2s ease-in;
}

.home-about-us a:hover {
  background-color: #fff;
  color: #000;
}

/* References------------------------------------------------------------------------------------------ */

.references {
  margin: 65px 0 0 0;
  font-family: 'Open Sans', sans-serif;
}

.refererences-title {
  color: #fff;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
}

.reference-card {
  padding: 7px 10px;
  margin: 15px 1% 0 1%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  color: #fff;
}

.reference-title {
  margin: 0 0 5px 0;
  font-size: 22px;
  font-weight: 800;
}

.reference-link-container {
  display: flex;
  align-items: center;
}

.reference-link-container a {
  margin: 0 0 0 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 450;
  transition: all 0.2s ease;
}

.reference-link-container a:hover {
  color: #42a4ff;
  padding: 0 0 0 3px;
}

.reference-type {
  display: inline-block;
  font-style: italic;
  font-size: 15px;
  font-weight: 500;
  margin: 0 0 0 5px;
}

/* Contact Us --------------------------------------------------------------------------------------------------*/

.contact-us {
  font-family: 'Inter', sans-serif;
}

.contact-us-background {
  background-image: url(images/contact-us-background.jpg);
  background-position: center;
  background-size: cover;
  min-height: 90vh;
  margin: 55px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact-us h2 {
  color: #fff;
  text-align: center;
  font-size: 50px;
  margin: 40px 0 30px 0;
}

.contact-us-background h1 {
  color: #fff;
  text-align: center;
  font-size: 70px;
  font-weight: 750;
}

.contact-us-container {
  display: flex;
  margin: 0 5% 0 5%;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact-us-info {
  min-width: 340px;
  color: #fff;
  margin: 20px 5px;
  padding: 30px;
  border-radius: 10px;
  background-color: #383838;
}

.contact-us-info h1 {
  font-size: 35px;
  margin-bottom: 15px;
}

.contact-icon {
  color: #1289c9;
}

.contact-us-info p {
  font-size: 20px;
  margin-top: 5px;
}

.contact-us-message-container {
  display: flex;
  justify-content: space-between;
  margin: 25px 5% 0 5%;
  flex-wrap: wrap;
}


.contact-us-message-container input {
  background-color: #383838;
  border: none;
  font-size: 30px;
  margin: 10px 5px;
  padding: 3px 5px;
  width: 45%;
  color: #fff;
}





/* About Us ---------------------------------------------------------------------------------------------------------- */

.about-background {
  margin: 55px 0 0 0;
  background-image: linear-gradient(rgba(25, 28, 38, 0.7),rgba(25, 28, 38, 0.7)),url(images/about-background.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-background h1 {
  color: #fff;
  font-size: 90px;
}

.about-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 15px;
  color: #fff;
}

.about-container h1 {
  font-size: 30px;
  font-weight: 750;
}

.about-container p {
  font-size: 22px;
}

.about-text {
  padding: 7px;
  margin: 0 10px 0 0;
}

.about-navigation {
  background-color: #1289c9;
  padding: 8px 10px;
  border-radius: 10px;
  min-height: 450px;
  min-width: 190px;
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4), 0 12px 40px 0 rgba(0,0,0,0.3);
}

.about-mobile-icon {
  position: fixed;
  top: 50%;
  transition: all 0.3s ease;
}

.about-mobile-button {
  display: none;
  font-size: 40px;
  color: #fff;
  border: none;
  background-color: #1289c9;
  border-radius: 45px;
  padding: 0 5px;
}

/* Media --------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 600px) {
  .navbar-container {
    display: block;
  }
  .navbar-button-home,.navbar-button-home button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar {
    display: block;
  }
  .navbar-button-middle {
    position: fixed;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    margin: 0 0 15px 0;
    background-color: #151515;
    width: 100%;
  }
  .navbar-button-middle a {
    text-align: center;
    margin: 0 0 15px 0;
  }
  .home-intro-text {
    min-width: 95%;
  }
  .home-intro-sidebar,.about-navigation {
    position: fixed;
    padding: 20px 5px;
    top: 25%;
    min-height: 400px;
    min-width: 145px;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  .home-intro-sidebar h1,.about-navitagion h1 {
    font-size: 24px;
    text-align: center;
  }
  .home-background-image,.about-background,.contact-us-background {
    min-height: 40vh;
  }
  .home-background-image h1,.about-background h1,.contact-us-background h1,.contact-us h2 {
    font-size: 32px;
  }
  .about-mobile-button {
    display: block;
  }
  .about-container h1,.home-data-home h1,.home-about-us h1,.contact-us-info h1 {
    font-size: 26px;
  }
  .about-container p,.home-data-home p,.contact-us-info p {
    font-size: 18px;
  }
}



/* keyframe ------------------------------------------------------------------------------------------------*/








