@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Footer and Copyright Section */

.footer-links-all {
  background-color: #242424;
  padding: 12px 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.footer ul {
  list-style: none;
}

.footer-row {
  max-width: 700px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  position: sticky;
}

.footer-col {
  width: 90%;
  text-align: center;
}

.footer-col ul h4 {
  text-transform: capitalize;
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-weight: 1200;
}

.footer-col ul li a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 100;
  line-height: 1.7;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #27bed9;
  padding-left: 5px;
}

.footer-copyright {
  min-height: 50px;
  padding: 18px 15px;
  text-align: center;
  color: #fff;
  font-size: 13px;
}

/* Navbar */

.navbar {
  background-color: #242424;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2% 0 2%;
  font-family: 'Roboto Condensed', sans-serif;
}

.navbar-container li {
  display: inline-block;
}

.navbar-container li a {
  color: #fff;
  text-decoration: none;
  padding: 0 18px;
  transition: all 0.3s ease;
  font-size: 18px;
}

.navbar-container li a:hover {
  color: #27bed9;
}

.navbar-button1 a {
  text-decoration: none;
  padding: 3px 5px;
  color: #fff;
  background-color: #008da6;
  border-radius: 2px;
  transition: all 0.3s ease;
  font-size: 18px;
}

.navbar-button1 a:hover {
  background-color: #fff;
  color: #1c1c1c;
}










