@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  min-height: 500vh;
  background-color: #292929;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Footer and Copyright Section ----------------------------------------------------- */

.footer {
  background-color: #151515;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer ul {
  list-style: none;
}

.footer-row {
  max-width: 700px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  padding: 40px;
}

.footer-col {
  width: 90%;
  text-align: center;
}

.footer-col ul h4 {
  text-transform: capitalize;
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-weight: 1200;
}

.footer-col ul li {
  margin: 3px 0;
}

.footer-col ul li a {
  font-size: 17px;
  color: #fff;
  text-decoration: none;
  font-weight: 100;
  line-height: 1.7;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #42a4ff;
  padding-left: 5px;
}

.footer-copyright {
  padding: 0 0 20px 0;
  text-align: center;
  color: #fff;
  font-size: 12px;
  margin: 0 2% 0 2%;
}

/* Navbar ------------------------------------------------------------------------------------- */

.navbar {
  background-color: #151515;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2.5% 0 2.5%;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 15px 0;
}

.navbar-button-middle {
  display: inline-block;
}

.navbar-button-middle a {
  color: #fff;
  text-decoration: none;
  padding: 1px;
  margin: 0 0 0 25px;
  transition: all 0.3s ease;
  font-size: 20px;
}

.navbar-button-middle a:hover {
  color: #27bed9;
}

.navbar-button-home a {
  text-decoration: none;
  padding: 3px 5px;
  color: #fff;
  background-color: #008da6;
  border-radius: 2px;
  transition: all 0.3s ease;
  font-size: 22px;
  margin-right: 0;
}

.navbar-button-home a:hover {
  background-color: #fff;
  color: #1c1c1c;
}

.navbar-mobile-button {
  display: none;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 25px;
}

/* Home --------------------------------------------------------------------------------------------------- */
.home-background-image {
  background-image: linear-gradient(rgba(41, 25, 54, 0.6),rgba(41, 25, 54, 0.6)),url(images/background.jpg);
  width: 100%;
  margin: 55px 0 0 0;
  min-height: 90vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home-background-image h1 {
  text-align: center;
  font-size: 70px;
  color: #fff;
}

.home-intro-container {
  display: flex; 
  align-items: flex-start;
  color: #fff;
  justify-content: space-around;
  margin: 20px 15px;
}

.home-intro-text {
  flex-grow: 5;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  margin: 0 7px 10px 0;
  padding: 5px;
  max-width: 75%;
}

.home-data-home {
  margin: 0 0 12px 0;
}

.home-data-home h1 {
  font-size: 25px;
  font-weight: 750;
}

.home-data-home p {
  font-size: 16px;
}

.home-intro-sidebar {
  background-color: #1289c9;
  flex-grow: 3;
  min-height: 500px;
  margin: 0 0 0 7px;
  padding: 5px 15px;
  border-radius: 15px;
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2), 0 12px 40px 0 rgba(0,0,0,0.19);
}

.home-about-us {
  background-image: linear-gradient(rgba(25, 28, 38, 0.7),rgba(25, 28, 38, 0.7)),url(images/man-smiling.jpg);
  max-width: 90%;
  margin: 60px auto;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 90px;
  border-radius: 15px;
}

.home-about-us h1 {
  color: #fff;
  font-size: 20px;
  margin: 10px 0;
}

.home-about-us a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0;
  border-radius: 5px;
  padding: 3px 12px;
  outline: solid 2px #fff;
  transition: all 0.2s ease-in;
}

.home-about-us a:hover {
  background-color: #fff;
  color: #000;
}

/* References Card------------------------------------------------------------------------------------------ */

.references {
  margin: 65px 0 0 0;
  font-family: 'Open Sans', sans-serif;
}

.refererences-title {
  color: #fff;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
}

.reference-card {
  padding: 7px 10px;
  margin: 15px 1% 0 1%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  color: #fff;
}

.reference-title {
  margin: 0 0 5px 0;
  font-size: 22px;
  font-weight: 800;
}

.reference-link-container {
  display: flex;
  align-items: center;
}

.reference-link-container a {
  margin: 0 0 0 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 450;
  transition: all 0.2s ease;
}

.reference-link-container a:hover {
  /* color: #008da6; */
  color: #42a4ff;
  padding: 0 0 0 3px;
}

.reference-type {
  display: inline-block;
  font-style: italic;
  font-size: 15px;
  font-weight: 500;
  margin: 0 0 0 5px;
}

/* Contact Us --------------------------------------------------------------------------------------------------*/

.contact-us {
  font-family: 'Inter', sans-serif;
}

.contact-us h4 {
  color: #fff;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  margin: 90px 0 20px 0;
}

.contact-us-container {
  display: flex;
  margin: 0 5% 0 5%;
  align-items: flex-start;
  justify-content: space-around;
}

.contact-us-get-in-touch {
  color: #fff;
  font-size: 23px;
  padding: 10px;
  text-align: center;
}

.contact-us-get-in-touch p {
  margin-bottom: 20px;
  padding: 3px 5px;
}

.contact-us-input {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}

.contact-us-input input {
  padding: 3px 5px;
  font-size: 23px;
  margin: 0 10% 20px 10%;
  border: 2px solid #fff;
  background-color: #292929;
  color: #fff;
}

.contact-us h3 {
  font-size: 40px;
  margin-bottom: 25px;
}

.contact-us-input button {
  border: 2px solid #fff;
  color: #fff;
  padding: 5px 7px;
  font-size: 20px;
  background-color: #292929;
  text-align: center;
  margin: 0 35% 0 35%;
  transition: all 0.3s ease;
} 

.contact-us-input button:hover {
  background-color: #fff;
  color: #292929;
  cursor: pointer;
}

/* About Us ---------------------------------------------------------------------------------------------------------- */

.about-background {
  margin: 55px 0 0 0;
  background-image: linear-gradient(rgba(25, 28, 38, 0.7),rgba(25, 28, 38, 0.7)),url(images/about-background.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-background h1 {
  color: #fff;
  font-size: 90px;
}

.about-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 15px;
  color: #fff;
}

.about-container h1 {
  font-size: 22px;
  font-weight: 750;
  text-align: center;
}

.about-container p {
  font-size: 15px;
}

.about-text {
  padding: 7px;
  margin: 0 10px 0 0;
}

.about-navigation-true {
  background-color: #1289c9;
  padding: 8px 10px;
  border-radius: 10px;
  min-height: 500px;
  min-width: 18%;
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2), 0 12px 40px 0 rgba(0,0,0,0.19);
}

.about-mobile-icon-true {
  position: fixed;
  top: 50%;
  right: 5px;
}

.about-mobile-icon-false {
  position: fixed;
  top: 50%;
  right: 150px;
}

.about-mobile-button {
  display: none;
  font-size: 50px;
  color: #fff;
  border: none;
  background-color: transparent;
}

.about-navigation-false {
  background-color: #1289c9;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  position: fixed;
  padding: 100px 5px;
  top: 20%;
  right: 0;
  min-height: 500px;
  min-width: 145px;
  transition: all 0.3s ease;
}

/* Media --------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 600px) {
  .navbar-button-middle {
    display: none;
  }
  .navbar-container {
    display: block;
  }
  .navbar-button-home,.navbar-button-home button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .false-contact {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 0;
  }
  .false-contact a {
    color: #fff;
    text-decoration: none;
    padding: 10px 0 10px 0;
    transition: all 0.3s ease;
    width: 100%;
    text-align: center;
  }
  .false-contact a:hover {
    background-color: #474747;
  }
  .home-intro-text {
    min-width: 95%;
  }
  .home-intro-sidebar {
    display: none;
  }
  .home-background-image {
    min-height: 50vh;
  }
  .home-background-image h1 {
    font-size: 30px;
  }
  .about-background h1 {
    font-size: 40px;
  }
  .about-background {
    min-height: 40vh;
  }
  .about-navigation-true {
    display: none;
  }
  .about-mobile-button {
    display: block;
  }
}










